section {
    width: 100%;
    background-image: url('/img/background-image.jpg');
    background-repeat: repeat;
    text-align:center;
    position: relative;
}

div {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 50px;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin: 0 auto;
    margin-top: .3em;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 3em;
}

Select {
    width: 100%;
    background: #fff;
    text-align:left;
    margin-bottom: 2em;
}

Map {
    width: 93%;
    height: 500px;
    float: center;
}

button {
    background-color: #1751F5;
}