.mapWrapper {
    background-image: url("/img/background-image.jpg");
    background-repeat: repeat;
}

.selectWrapper {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 50px;
    margin-top: 4em;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 2em;
    margin-left: 3em;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 3em;
}

Select {
    width: 100%;
    background: #fff;
    text-align:left;
    margin-bottom: 3em;
}

.map {
    margin-top: 4em;
    width: 93%;
    height: 400px;
    float: center;
}