.selectWrapper {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-right: 50px;
    margin-top: 5em;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: .5em;
    margin-left: 3em;
}

h3 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    margin-top: 3em;
    margin-bottom: 1em;
}

Select {
    width: 100%;
    background: #fff;
    text-align:left;
    margin-bottom: 3em;
}

.map {
    margin-top: 3em;
    width: 95%;
    height: 400px;
}

.popup {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}

Button {
    margin-top: 2.2em;
}